<div class="row">
	<div class="col-md-2">&nbsp;</div>
	<div class="col-md-8" style="padding-top: 5%">
		<div data-ng-hide="message == ''"
		data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
		{{message}}</div>
		<table class="table table-striped table-bordered table-hover table-condensed orderDT">
			<thead>
				<tr>
					<th data-translate>index</th>
					<th data-translate>order-id</th>
					<th data-translate>customer</th>
					<th data-translate>quantum</th>
					<th data-translate>status</th>
					<th data-translate>actions</th>
					
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="order in orders">
					<td>{{ ($index + 1) + (currentPage - 1) * 10 }}</td>
					<td>{{ order.id }}</td>
					<td>{{ order.customer.name }}</td>
					<td>{{ order.quantum }}</td>
					<td>
						<table style="width:100%"><tr><td style="width:24px;"><span style="width:100%" class="fa-2x item ng-class:{'CANCELED': 'fa fa-times', 'DELIVERED': 'fa fa-check','ARRIVED': 'fa fa-truck', 'PLACED': 'fa fa-shopping-cart', 'WAITING_ARRIVAL': 'fa fa-clock-o', 'READY_FOR_PICKUP': 'fa fa-bell'}[order.status]" data-tooltip="{{ order.status | translate }}"></span></td><td><span class="hidden-xs"  ><strong data-translate>{{ order.status}}</strong></span></td></tr></table>
					</td>
					<td>
						<a  data-ng-click="showStatus(order)" data-tooltip="{{ 'show-status' | translate }}"><data-ng-md-icon icon="pageview" style="fill: black"></data-ng-md-icon></a>
						<a  data-ng-click="sendMail(order)" data-ng-hide="order.status!='READY_FOR_PICKUP'" data-tooltip="{{ 'sendDocumentButton' | translate }}"><data-ng-md-icon icon="send" style="fill: black"></data-ng-md-icon></a>
						<a  data-ng-click="showDelivery(order)" data-ng-hide="order.status!='ARRIVED'" data-tooltip="{{ 'addProductSeries' | translate }}"><data-ng-md-icon icon="note_add" style="fill: black"></data-ng-md-icon></a>
						<a  data-ng-click="cancelOrder(order)"  data-ng-hide="order.status=='DELIVERED' || order.status=='CANCELED'" data-tooltip="{{ 'cancelOrderButton' | translate }}"><data-ng-md-icon icon="remove_circle_outline" style="fill: black"></data-ng-md-icon></a>
						<a  data-ng-click="deliverOrder(order)" data-ng-hide="order.status!='READY_FOR_PICKUP'" data-tooltip="{{ 'deliverOrderButton' | translate }}"><data-ng-md-icon icon="done" style="fill: black"></data-ng-md-icon></a>
					</td>
				</tr>
			</tbody>
		</table>
		<span data-pagination data-ng-click="pageChanged(currentPage)" data-total-items="totalItems" data-ng-model="currentPage"
          	data-max-size="10" data-boundary-links="true"
          	data-items-per-page="numPerPage" class="pagination-sm">
        </span>
	</div>
	<div class="col-md-2">&nbsp;</div>
</div>