<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<form class="form-signin" data-ng-submit="addProduct()">
			<h2 class="form-signin-heading">Add product</h2>
			<input type="text" data-ng-model="product.name" class="form-control"
				placeholder="Name" data-required="" data-autofocus=""> <input
				type="text" data-ng-model="product.price" class="form-control"
				placeholder="Price" data-required=""> <input type="submit"
				class="btn btn-small btn-primary" value="Add">
		</form>
		<span data-pagination data-ng-click="pageChanged(currentPage)"
			data-total-items="totalItems" data-ng-model="currentPage"
			data-max-size="10" data-boundary-links="true"
			data-items-per-page="numPerPage" class="pagination-sm"> </span>
	</div>
</div>