<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<form class="form-signin">
			<h2 class="form-signin-heading">Add stock</h2>
			<h4 class="form-signin-heading">Supplier:</h4>
			<select class="form-control" data-ng-model="stock.supplier"
				data-ng-options="supplier.name for supplier in suppliers"
				data-ng-change="getProductsBySupplier()">
				<option value="" disabled selected>Select a supplier</option>
			</select>
			<h4 class="form-signin-heading">Product:</h4>
			<select class="form-control" data-ng-model="stock.product"
				data-ng-options="product.name for product in products">
				<option value="" disabled selected>Select a product</option>
			</select>
			<h4 class="form-signin-heading">Product amount:</h4>
			<input type="text" style="text-align: right;"
				data-ng-model="stock.amount" class="form-control" data-required=""
				data-autofocus="" placeholder="Insert product amount">
			<div class="control-group">
				<label class="control-label" for="button1id"></label>
				<div class="controls">
					<a data-ng-click="addStock()" class="btn btn-info">Add stock</a> <a
						data-ng-click="cancel()" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>
		<span data-pagination data-ng-click="pageChanged(currentPage)"
			data-total-items="totalItems" data-ng-model="currentPage"
			data-max-size="10" data-boundary-links="true"
			data-items-per-page="numPerPage" class="pagination-sm"> </span>
	</div>
</div>

