
<form novalidate="novalidate" class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="inputFirstName">Name:</label>
		<div class="controls">
			<input type="text" id="inputFirstName" data-ng-model="product.name" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputLastName">Price:</label>
		<div class="controls">
			<input type="text" id="inputLastName" data-ng-model="product.price" />
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<!-- user-detail.html: -->
			<a data-ng-click="updateProduct()" class="btn btn-small btn-primary">update
				user</a> <a data-ng-click="cancel()" class="btn btn-small btn-primary">cancel</a>


		</div>
	</div>
</form>