<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<form class="form-signin">
			<h2 class="form-signin-heading">Edit order</h2>
			<h4 class="form-signin-heading">Product:</h4>
			<select class="form-control" data-ng-model="order.product"
				data-ng-options="product.name for product in products">
			</select>
			<h4 class="form-signin-heading">Quantity:</h4>
			<input type="text" style="text-align: right;"
				data-ng-model="order.quantity" class="form-control" data-required=""
				data-autofocus="" placeholder="Insert product quantity">
			<h4 class="form-signin-heading">Expected date:</h4>
			<input type="date" data-ng-init="order.expectedDate"
				data-ng-model="order.expectedDate" class="form-control"
				data-ng-required="date">
			<h4 class="form-signin-heading">Status:</h4>
			<select class="form-control" data-ng-model="order.status"
				data-ng-options="status for status in orders.status">
			</select>
			<div class="control-group">
				<label class="control-label" for="button1id"></label>
				<div class="controls">
					<a data-ng-click="updateOrder()" class="btn btn-info">Update
						Order</a> <a data-ng-click="cancel()" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>
	</div>
</div>