<div class="row">
	<div class="col-md-2">&nbsp;</div>
	<div class="col-md-8">
		<p>Products</p>
		<div class="padding">
			<select class="btn-xs" data-ng-model="prodPerPage"
				data-ng-change="pageChanged(currentPage)">
				<option value="5" selected>5</option>
				<option value="10">10</option>
				<option value="15">15</option>
			</select>
		</div>
		<table
			class="table table-striped table-bordered table-hover table-condensed">
			<thead>
				<tr>
					<th class="vert-align" style="width: 5%; height: 39px"
						data-translate>No</th>
					<th class="vert-align" data-translate>Name</th>
					<th class="vert-align" style="width: 20%" data-translate>Price</th>
					<th class="vert-align" style="width: 20%" data-translate>Actions
					</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="product in products">
					<td class="vert-align">{{ ($index + 1) + (currentPage - 1) *
						prodPerPage}}</td>
					<td class="vert-align">{{ product.name }}</td>
					<td class="vert-align">{{ product.price }}</td>
					<td class="vert-align"><a data-ng-click="setProduct(product)"
						class="btn btn-xs btn-primary"><span
							class="glyphicon glyphicon-pencil"></span>&nbsp;edit</a> <a
						data-ng-click="deleteProduct(product)"
						class="btn btn-xs btn-primary"><span
							class="glyphicon glyphicon-trash"></span>&nbsp;delete</a></td>
				</tr>
			</tbody>
		</table>
		<a href="#/product/add" class="btn btn-primary" data-role="button">
			Add Product</a>
		<!--  <span data-pagination
			data-ng-click="pageChanged(currentPage)"
			data-total-items="totalItems" data-ng-model="currentPage"
			data-max-size="10" data-boundary-links="true"
			data-items-per-page="numPerPage" class="pagination-sm"> </span> -->

		<pagination data-total-items="totalItems" rotate="false" max-size="5"
			boundary-links="true" items-per-page="prodPerPage"
			data-ng-model="currentPage" ng-change="pageChanged(currentPage)"></pagination>
	</div>
	<div class="col-md-2">&nbsp;</div>
</div>