<div class="row">
	<div class="col-md-2">&nbsp;</div>
	<div class="col-md-8">
		<p>Stocks</p>
		<div class="padding">
			<select class="btn-xs" data-ng-model="stockPerPage"
				data-ng-change="pageChanged(currentPage)">
				<option value="5" selected>5</option>
				<option value="10">10</option>
				<option value="15">15</option>
			</select>
		</div>
		<table
			class="table table-striped table-bordered table-hover table-condensed">
			<thead>
				<tr>
					<th class="vert-align" style="width: 5%; height: 39px"
						data-translate>No</th>
					<th class="vert-align" data-translate>Supplier</th>
					<th class="vert-align" data-translate>Product</th>
					<th class="vert-align" data-translate>Amount</th>
					<th class="vert-align" data-translate style="width: 20%">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="stock in stocks">
					<td class="vert-align">{{( $index + 1) + (currentPage - 1) *
						stockPerPage}}</td>
					<td class="vert-align">{{ stock.supplier.name }}</td>
					<td class="vert-align">{{ stock.product.name }}</td>
					<td class="vert-align">{{ stock.amount }}</td>
					<td class="vert-align"><a data-ng-click="setStock(stock)"
						class="btn btn-xs btn-primary"><span
							class="glyphicon glyphicon-pencil"></span>&nbsp;edit</a> <a
						data-ng-click="deleteStock(stock)" class="btn btn-xs btn-primary"><span
							class="glyphicon glyphicon-trash"></span>&nbsp;delete</a></td>
				</tr>
			</tbody>
		</table>
		<a href="#/stock/add" class="btn btn-primary" data-role="button">
			Add Stock</a>
		<pagination data-total-items="totalItems" rotate="false" max-size="5"
			boundary-links="true" items-per-page="stockPerPage"
			data-ng-model="currentPage" ng-change="pageChanged(currentPage)"></pagination>
	</div>
	<div class="col-md-2">&nbsp;</div>
</div>