<!DOCTYPE html>
<html data-ng-app="supplierCenterApp">
<head>
<meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Supplier Center Presentation Page</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="app/css/site.css" rel="stylesheet" />
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link href="app/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top"
		data-role="navigation" data-ng-controller="indexController">
		<div class="container">
			<div class="navbar-header">
				<button class="btn btn-success navbar-toggle" data-toggle="collapse"
					data-ng-click="navbarExpanded = !navbarExpanded"
					data-target="#target">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="#/home" data-translate class="navbar-brand"><span
					class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;home</a>
			</div>
			<div class="collapse navbar-collapse" data-collapse="!navbarExpanded"
				id="target">
				<ul class="nav navbar-nav navbar-right">
					<li data-ng-hide="authentication.isAuth"><a href="#/login"
						data-translate><span class="glyphicon glyphicon-log-in"
							aria-hidden="true"></span>&nbsp;login</a></li>
					<li data-ng-hide="!authentication.isAuth"><a href="#/products"
						data-translate><span class="glyphicon glyphicon-list"
							aria-hidden="true"></span>&nbsp;products</a></li>
					<li data-ng-hide="!authentication.isAuth"><a href="#/stocks"
						data-translate><span class="glyphicon glyphicon-book"
							aria-hidden="true"></span>&nbsp;stocks</a></li>
					<li data-ng-hide="!authentication.isAuth"><a
						href="#/suppliers" data-translate><span
							class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;suppliers</a></li>
					<li data-ng-hide="authentication.isAuth"><a href="#/signup"
						data-translate><span class="glyphicon glyphicon-pencil"
							aria-hidden="true"></span>&nbsp;sign-up</a></li>
					<li data-ng-hide="!authentication.isAuth"><a href=""
						data-ng-click="logOut()" data-translate><span
							class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;logout</a></li>
					<li><a data-ng-click="changeLanguage('ro')"
						class="flag-RO {{locale}}"></a></li>
					<li><a data-ng-click="changeLanguage('en')"
						class="flag-GB {{locale}}"></a></li>
					<li><a data-ng-click="changeLanguage('fr')"
						class="flag-FR {{locale}}"></a></li>
				</ul>
			</div>
		</div>
	</div>
	<br />
	<br />
	<br />
	<br />
	<div class="container">
		<div data-ng-view=""></div>
	</div>
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>Pentalog &copy; 2015</p>
				</div>
				<div class="col-md-6">
					<p>Tel : +400764478001</p>
					<p>Iasi, Str Ciurchi nr 126-128 Romania</p>
					<a href="http://www.pentalog.ro" target="_blank" data-translate>link</a>
				</div>
			</div>
		</div>
	</div>

	<!-- 3rd party libraries -->
	<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
	<script
		src="http://code.angularjs.org/1.0.0rc10/angular-cookies-1.0.0rc10.js"></script>
	<script src="app/scripts/angular-local-storage.min.js"></script>
	<script src="http://code.angularjs.org/1.2.16/angular-resource.js"></script>
	<script
		src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
	<script
		src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>
	<script src="app/scripts/loading-bar.min.js"></script>
	<script src="app/scripts/angular-translate.js"></script>
	<script src="app/scripts/angular-translate-loader-static-files.js"></script>
	<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular-sanitize.js"></script>


	<!-- Load app main script -->
	<script src="app/app.js"></script>
	<!-- Load services -->
	<script src="app/services/authInterceptorService.js"></script>
	<script src="app/services/authService.js"></script>
	<script src="app/services/productFactory.js"></script>
	<script src="app/services/stockFactory.js"></script>
	<script src="app/services/supplierFactory.js"></script>
	<!-- Load controllers -->
	<script src="app/controllers/homeController.js"></script>
	<script src="app/controllers/indexController.js"></script>
	<script src="app/controllers/loginController.js"></script>
	<script src="app/controllers/productController.js"></script>
	<script src="app/controllers/stockController.js"></script>
	<script src="app/controllers/supplierController.js"></script>
	<script src="app/controllers/editProductController.js"></script>
	<script src="app/controllers/editStockController.js"></script>
	<script src="app/controllers/editSupplierController.js"></script>
</body>
</html>